*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: serif;
    
}

header{
     background-color: antiquewhite;
     display: flex;
     justify-content: space-between; /* coloca nas extremidades*/
     align-items: center; 
     color: rgb(177, 27, 52);
     height: 10%;
     padding: 10px;
}

#navegador{
    color: rgb(177, 27, 52);
    font-family: serif;
    padding: 20px;
    text-decoration: none;
}

h1{
    text-transform: initial;
}

main{
    min-height: 89vh;
    background-image: radial-gradient(rgb(177, 27, 52), rgb(249, 212, 218));
}

.sessao1{

    display:flex;
    justify-content: center;
    padding: 10vh;

}

.sessao1_imagem{
    border-radius: 35%;
    height: 200px;
}

.sessao1_div {
    padding: 10px;
}

.sessao1_paragrafo{
    width: 30vh ;
    text-align: justify;
    color: antiquewhite;
}

.sessao2{
    display: flex;
    flex-direction: column;
    padding: 30px; 
    }

.sessao2_div {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    height: 200px;
    
}

.sessao2_titulo {
    padding: 2px;
    border-bottom: antiquewhite solid 1px; /*define onde a linha vai ficar*/
    color: antiquewhite;

   
}

.sessao2_texto {
  
    height: 100%;
    padding: 15px;
    background-color: antiquewhite;
    margin-left: 10px;
    border-radius: 70px;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.28);
    color:rgb(177, 27, 52);
}

.sessao2_texto_titulo {
    text-align: center;
    padding: 10px;
    color: rgb(177, 27, 52);

}

.sessao2_texto_itens {
    list-style: none;
    margin: 5px;
}

#item {
    padding: 1px;
}

footer {
    background-color: antiquewhite;
    height: 2px;
    display: flex;
    color: rgb(177, 27, 52);
    justify-content: center;
}

