*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: serif;
    
}

header{
     background-color: antiquewhite;
     display: flex;
     justify-content: space-between; /* coloca nas extremidades*/
     align-items: center; 
     color: rgb(177, 27, 52);
     height: 10%;
     padding: 10px;
}

#navegador{
    color: rgb(177, 27, 52);
    font-family: serif;
    padding: 20px;
    text-decoration: none;
}

h1{
    text-transform: initial;
}

main{
    min-height: 89vh;
    background-image: radial-gradient(rgb(177, 27, 52), rgb(249, 212, 218));
}