* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(177, 27, 52);
    display: flex;
    justify-content: space-between; /* coloca nas extremidades*/
    align-items: center; 
    color: antiquewhite;
    height: 10%;
    padding: 10px;
}
main{
    display: flex;
    gap: 10px;
    justify-content: center;
    background-image: radial-gradient(rgb(177, 27, 52), antiquewhite);
    padding: 10px;
}

.container_estilizado {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 2px antiquewhite solid;
    border-radius: 50px;
    padding: 30px;
    color: antiquewhite;
}

.container_estilizado a{
    text-decoration: none;
    color: antiquewhite;
}

